body
{
    background-image: url("background.png");
    font-family: "Lato", sans-serif;
    background-size: cover;
    background-position: center;
}

@keyframes example 
{
    from 
    {
		opacity: 0;
	}

    to 
    {
		opacity: 1;
	}
}

#container
{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#logo
{
    color: #ffffff;
    margin-top: 20px;
    font-size: 44px;
    font-weight: 900;
    letter-spacing: 3px;
    text-align: center;
}

#menu
{
    background-color: #303030;
    color: #ffffff;
    margin-top: 20px;
    padding: 8px;
    text-align: center;
    font-weight: 700;
    border: 2px solid #f36742;
    box-shadow: #f36742 5px 5px 20px;
}

#content
{
    padding: 40px;
    text-align: center;
    width: 80%;
    height: auto;
    margin-left: 150px;
}

#footer
{
    clear: both;
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    padding: 20px 0;
    text-shadow: 10px 10px 20px #000000;
    background-color: rgba(0,0,0, 0.4);
    margin-top: 50px;
}

.option
{
    float: left;
    min-width: 304px;
    height: 25px;
    font-size: 18px;
    padding: 10px;
    border-right: 2px dotted #444444;   
    opacity: 0.8;
    color: #ffffff;
}

.option:hover
{
    background-color: #000000;
    cursor: pointer;
    color: #f36742;
}

.img
{
    display: inline-block;
}

.projektimg 
{
    border: 3px solid #f36742;
    box-shadow: #ffffff 5px 5px 20px;
    border-radius: 4px;
    margin: 20px;
    width: 570px;
    height: 320px;
}

.projektimg h1
{
    opacity: 0;
    text-align: center;
    padding: 10%;
    transition: 1s;
}


.projektimg:hover h1
{
    opacity: 1;
    background: rgba(0, 0, 0, 0.6);
}

a
{
    text-decoration: none;
    color: white;
}