header
{
    background: #829EB9;
    height: 50px;
    font-family: Arial;
    text-align: center;
}

nav
{
    background: #B3C6D9;
    height: 600px;
    width: 25%;
    float: left;
}

main
{
    background: #E0E9F1;
    height: 600px;
    width: 75%;
    text-align: center;
    float: left;
}

footer
{
    background: #829EB9; 
    font-family: Arial;
    text-align: right;
    clear: both;
}

img
{
    margin: 30px;
    padding: 10px;
    border: 2px dotted #B3C6D9;
}

table
{
    margin: 30px;
    border: 2px solid;
    width: 70%;
}

td, th
{
    border: 2px solid;
}

th
{
    background: #B3C6D9;
}

tr:hover *
{
    background: blue;
    color: white;
}

p
{
    margin: 30px;
}
